.App-header {
    text-align: center;
    background-color: #0f0f0e;
    height: 50px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.Content {
    padding: 10px;
}

.App-navbar {
    background-color: #EEE;
}

.nav-item-right-search {
    position: absolute;
    right: 200px;
}

.nav-item-right-login {
    right: 70px;
}

.nav-item-right-register {
    position: absolute;
    right: 0;
}

