body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container-search-events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.form-group {
    margin-top: 5px;
}

.margin-left-custom {
    margin-left: 20px;
}

.simple_user_img {
    width: 60px;
    height: 60px;
}

.custom-border {
    border: 1px solid #dee2e6;
}