body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container-search-events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.container-main-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.container-main-info-item {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.container-review {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container-review-item {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.fixed-width-content {
    width: 600px;
}

.fixed-width-content-paid-things {
    width: 300px;
}

.fixed-width-profile {
    width: 400px;
}

.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-cards-item {
    width: 350px;
    display: flex;
    flex-direction: row;
}

.fixed-width-card {
    width: 400px;
}

.fixed-width-sub-card {
    width: 150px;
}

.fixed-width-min {
    width: 100px;
    height: 70px;
}

.center-items {
    align-items: center;
}

.overflow-y-custom {
    overflow-y: hidden;
}

.overflow-x-custom {
    overflow-x: hidden;
}

.select-box-custom {
    overflow-y: hidden;
}

.form-group {
    margin-top: 5px;
}

.margin-left-custom {
    margin-left: 20px;
}

.margin-left-item {
    margin-left: 20px;
    margin-top: 10px;
}

.margin-right-item {
    margin-right: 10px;
    margin-top: 10px;
}

.fixed-width-main-image-card {
    width: 300px;
    height: 250px;
}

.card-text {
    word-break: break-word;

}

.login-input {
    width: 150px;
    height: 20px;
}

.simple_user_img {
    width: 60px;
    height: 60px;
}

.element-tabs {
    min-height: 100px;
}
